stages:
  - test
  - build
  - deploy

test:
  stage: test
  script: echo "Running tests"

build:
  stage: build
  script: echo "Building the app"

deploy_staging:
  stage: deploy
  script:
    - "pwd; docker-compose up -d"
  environment:
    name: staging
    url: http://35.224.187.246
  only:
  - master
                      

                      
