version: '3'
services:
  web-api:
    container_name: website-api1
    restart: always
    build: .
    ports:
      - 0.0.0.0:8080:80
    command: lein run
    links:
      - mongod
  mongod:
    image: mongo:latest
    container_name: mongo1
    ports:
      - 27017:27017



